<p class="text-right">
    <button ng-click="logout()" title="Logout" class="btn btn-default"><span class="glyphicon glyphicon-off"></span></button>
</p>

<form ng-submit="createTodo()" role="form">
    <h3 class="bg-success">Create Todo</h3>
    <ul ng-show="newTodo.errors" class="list-unstyled error">
        <li ng-repeat="(field, error) in newTodo.errors">{{field}} {{ error }}</li>
    </ul>
    <div class="form-group">
        <label for="new_todo_priority">Priority</label>
        <input type="number" ng-model="newTodo.priority" class="form-control"  id="new_todo_priority" min="0" max="10"/> 
    </div>
    <div class="form-group">
        <label for="new_todo_due_date">Due Date</label>
        <input datepciker type="text" ng-model="newTodo.due_date" class="form-control"  id="new_todo_due_date" /> 
    </div>
    {{ newTodo }}
    <div class="form-group">
        <label for="new_todo_description">Description</label>
        <textarea ng-model="newTodo.description" class="form-control"  id="new_todo_description"></textarea> 
    </div>
    <button class="btn btn-success" type="submit">Add Todo</button>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Todo List</th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="todo in todos">
      <td>
        <p ng-hide="edit_mode[$index]">
            <input type="checkbox" ng-model="todo.is_finished" ng-change="saveTodo($index)" />
            {{ todo.description }}
        </p>
        <input type="text" ng-show="edit_mode[$index]" ng-model="todo.description" class="form-control" />
      </td>
      <td class="text-right">
        <button ng-click="editTodo($index)" class="btn btn-primary btn-sm" ng-hide="edit_mode[$index]">Edit</button>
        <button ng-click="saveTodo($index)" class="btn btn-primary btn-sm" ng-show="edit_mode[$index]">Save</button>
        <button ng-click="deleteTodo($index)" class="btn btn-danger btn-sm">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
